*
!Dockerfile
!gainmap-build.sh
!environment/
!environment/**
!png_decode.c
!native-gainmap-build.sh
!native_gainmap.cpp
!libultrahdr-xmp-arrays.patch
!libultrahdr-rgb-jpeg.patch
!libultrahdr-precise-transfer.patch
!libavif-sequence-transform.patch
!libavif-full-range-gain.patch
!libavif-small-offset-gain.patch
!libavif-identity-gain.patch
!libavif-moderate-offset-gain.patch
!native-zimg-build.sh
!native_zimg_window.c
!native_lossless_jpeg.c
!native_dct_jpeg.c
!libavif-rgb-reader.patch
!jpegli-build.sh
!jpegli.cmake
!native_jpegli.cpp
