*
!Dockerfile
!gainmap-build.sh
!environment/
!environment/**
!png_decode.c
!native-gainmap-build.sh
!native_gainmap.cpp
!libultrahdr-xmp-arrays.patch
!libultrahdr-rgb-jpeg.patch
!libavif-sequence-transform.patch
!libavif-full-range-gain.patch
!native-zimg-build.sh
!native_zimg_window.c
!native_lossless_jpeg.c
