vars {
  baseUrl: http://localhost:8000/ingestor
  mediaBaseUrl: http://localhost:8000/media
  gatewayBaseUrl: http://localhost:8000/gateway
  colorExtractorBaseUrl: http://localhost:8000/color-extractor
  userBaseUrl: http://localhost:8000/user
  userId: test-user-123
}
